.input {
  background: #F1F1F1;
  border: none;
  box-sizing: border-box;
  color: #151E3F;
  display: block;
  outline: 0;
  padding: 15px 20px;
  width: 100%; }
  .input::placeholder {
    color: #151E3F; }
