@import 'assets/variables.scss';

.input {
    background: #F1F1F1;
    border: none;
    box-sizing: border-box;
    color: $colorSecondary;
    display: block;
    outline: 0;
    padding: 15px 20px;
    width: 100%;

    &::placeholder {
        color: $colorSecondary;
    }
}
