@import 'assets/variables.scss';

.select-wrapper {
    height: 50px;
    position: relative;
    width: 100%;
}
.select {
    appearance: none;
    background-color: #f1f1f1;
    border-radius: 0;
    border: 0;
    color: $colorSecondary;
    cursor: pointer;
    height: 100%;
    outline: none;
    padding: 0 20px;
    pointer-events: all;
    width: 100%;
}

.arrow-container {
    background: $colorSecondary;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 50px;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    transform: translate(-50%, -50%);
}
